body {
    background-color: #2F2C2C;
}

h1 {
    color:white;
    text-align: center;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

.search {
    text-align: center;
    
}

.input {
    background-color: black;
    text-align: center;
    color: greenyellow;
}


.results {
    color: white;
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    /* margin-left: 350px;  */
    /* width: 33%; */
    text-align: center;
}

.btn {
    text-align: center;
}
/*
User Story: I can search Wikipedia entries in a search box and see the resulting Wikipedia entries.

Hint #2: Here's an entry on using Wikipedia's API: https://www.mediawiki.org/wiki/API:Main_page.
*/